*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
a{
    display: inline-block;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.fixed-width{
    width: 1200px;
    margin: auto;
    max-width: 100%;
}
.header{
    background: #22c3a3;
    padding: 10px 10px;
}
.logo{
    width: 30%;
    float: left;
}
.logo a h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(224, 250, 242);
    font-size: 25px;
    float: left;
}
.menu{
    width: 70%;
    float: right;
    text-align: right;
}
.menu ul li{
    display: inline-block;
    list-style: none;
}
.menu ul li a{
    display: inline-block;
    padding: 10px 18px;
    color: rgb(216, 250, 236);
    text-decoration: none;
}
.banner{
    background-image: url(https://i.ibb.co/MB7Zz03/header-bg01.jpg);
    padding: 100px 0;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}
.heading h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.heading h3{
    text-align: center;
    color: #fff;
    margin-top: 30px;
}
.button{
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}
.btn{
    padding: 10px 25px;
    background: none;
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}
/* SERVICE SECTION */
.service{
    padding: 100px;
    text-align: center;
}
.service h2{
    color: rgb(71, 71, 71);
    margin-bottom: 20px;
    font-size: 50px;
}
.service h3{
    font-size: 20px;
    color: gray;
}
.service-box{
    margin-top: 80px;
}
.fnt{
   font-size: 30px;
   color: rgb(34, 195, 163); 
}
.boxs{
    float: left;
    width: 22%;
    margin-right: 3%;
}
.text{
    font-size: 25px;
}
.service{
    border-bottom: 5px solid rgb(34, 195, 163);;
}
/* About Section */
.about{
    padding: 100px;
    text-align: center;
}
.about h2{
    color: gray;
}
.about p{
    margin-top: 10px;
    color: gray;
}
.about h3{
    text-align: left;
    margin-top: 10px;
    color: gray;
}
.stle{
    text-align: left;
}
.img-div img{
    margin-top: 8%;
    float: left;
    width: 40%;
    height: 250px;
    
}
/* Contact-Section */
.contact{
    text-align: center;
}
.contact h2{
    color: gray;
}
.content{
    margin-top: 5%;
    float: left;
    width: 55%;
    margin-left: 4%;
}
.location{
    float: left;
    width: 33%;
    margin-top: 10%;
}
.mrgin{
    margin-top: 15px;
}
.location span{
    font-size: 20px;
    color: rgb(34, 195, 163);
}
.inbox{
    float: left;
    width: 33%;
    margin-top: 10%;
}

.inbox span{
    font-size: 20px;
    color: rgb(34, 195, 163);
}
.phone{
    float: left;
    width: 33%;
    margin-top: 10%;
}
.phone span{
    font-size: 20px;
    color: rgb(34, 195, 163);
}
/* Footer-Section */
.footer{
}
.icondiv{
    background: rgb(34, 195, 163);
    padding: 10px 0;
    text-align: center;
    margin-top: 30px;
}
.icondiv span{
   font-size: 40px;
   color: #fff;
}
.style{
    margin-right: 30px;
}
.footer-bottom{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}